<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Example HTML</title>
</head>
<body>

<form id="loginForm">
    <label for="username">Email:</label>
    <input type="text" id="username" name="username" required>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>

    <button type="button" onclick="login()">Login</button>
</form>

<script>
    function login() {
        var username = document.getElementById("username").value;
        var password = document.getElementById("password").value;

        var formData = new FormData();
        formData.append("username", username);
        formData.append("password", password);

        fetch('http://localhost:8081/auth/api/login', {
            method: 'POST',
            body: formData
        })
            .then(response => response.json())
            .then(data => {
                // Gestisci la risposta qui
                console.log(data);

                if (data.success) {
                    // Esegui azioni di successo
                    //alert(data.message);
                    var token = data.token;
                    window.location.href = "subscription.html?token=" + token;
                } else {
                    // Esegui azioni in caso di errore
                    alert(data.message);
                }
            })
            .catch(error => {
                console.error('Errore durante la richiesta:', error);
            });
    }
</script>

</body>
</html>
