<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flights Preferences</title>
</head>
<body>
<h1>Flights Preferences</h1>

<h2>Inserisci le tue preferenze</h2>
<form id="preferencesForm">
    <label for="city_from">Città di partenza:</label>
    <input type="text" name="city_from" required><br>

    <label for="city_to">Città di arrivo:</label>
    <input type="text" name="city_to" required><br>

    <label for="date_from">Data di partenza da (DD/MM/YYYY):</label>
    <input type="text" name="date_from" required><br>

    <label for="date_to">Data di partenza a (DD/MM/YYYY):</label>
    <input type="text" name="date_to" required><br>

    <label for="return_from">Data di ritorno da (DD/MM/YYYY):</label>
    <input type="text" name="return_from" required><br>

    <label for="return_to">Data di ritorno a (DD/MM/YYYY):</label>
    <input type="text" name="return_to" required><br>

    <label for="price_from">Prezzo minimo:</label>
    <input type="number" name="price_from" step="0.1" required><br>

    <label for="price_to">Prezzo massimo:</label>
    <input type="number" name="price_to" step="0.1" required><br>

    <button type="button" onclick="savePreferences()">Salva Preferenze</button>
</form>

<form>
    <button type="submit">Logout</button>
</form>

<script>
    function savePreferences() {
        var form = document.getElementById("preferencesForm");
        var formData = new FormData(form);

        var urlParams = new URLSearchParams(window.location.search);

        // Recupera il valore della variabile 'id'
        var id = urlParams.get('token');

        // Fai qualcosa con il valore ottenuto
        console.log("ID ricevuto:", id);

        fetch('http://localhost:8081/subscription/api/subscription', {
            method: 'POST',
            body: formData
        })
            .then(response => response.json())
            .then(data => {
                // Gestisci la risposta qui
                console.log(data);

                if (data.success) {
                    // Esegui azioni di successo
                    alert(data.message);
                } else {
                    // Esegui azioni in caso di errore
                    alert(data.message);
                }
            })
            .catch(error => {
                console.error('Errore durante la richiesta:', error);
            });
    }
</script>

</body>
</html>
