<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SLA_Manager</title>
</head>
<body>
<form id="SLAForm">
    <label for="metric_name">Metric name:</label>
    <input type="text" id="metric_name" name="metric_name" required>

    <label for="min_value">Min Value:</label>
    <input type="text" id="min_value" name="min_value" required>

    <label for="max_value">Max Value:</label>
    <input type="text" id="max_value" name="max_value" required>

    <label for="x_minutes">X Minutes:</label>
    <input type="text" id="x_minutes" name="x_minutes" required>

    <button type="button" onclick="AddMetric()">Add metric</button>
    <button type="button" onclick="MetricStatus()">Metrics Status</button>
    <button type="button" onclick="SingleMetricStatus()">Single Metric Status</button>
    <button type="button" onclick="Violations()">Violations</button>
    <button type="button" onclick="Probability()">Probability of violations</button>
</form>

<div id="SLAResult"></div>

<script>
    function AddMetric() {
        const formData = new FormData(document.getElementById('SLAForm'));

        fetch('http://localhost:80/sla/api/add', {
            method: 'POST',
            body: formData
        })
            .then(response => response.json())
            .then(data => {

                if (data.success) {
                    alert(data.message);
                } else {
                    alert(data.message);
                }
            })
            .catch(error => {
                console.error('Errore durante la richiesta', error);
                alert('Si è verificato un errore durante la richiesta');
            });
    }

    function MetricStatus() {
        const formData = new FormData(document.getElementById('SLAForm'));

        fetch('http://localhost:80/sla/api/status', {
            method: 'GET',
        })
            .then(response => response.json())
            .then(data => {

                if (data.success) {
                    for (var key in data.metrics) {
                        if (data.metrics.hasOwnProperty(key)) {
                            var value = data.metrics[key];
                            console.log("Metrica:", key, "Valore:", value);
                        }
                    }
                    alert(data.message);
                }
                else {
                    alert(data.message);
                }
            })
            .catch(error => {
                console.error('Errore durante la richiesta', error);
                alert('Si è verificato un errore durante la richiesta');
            });
    }

    function SingleMetricStatus() {
        const formData = new FormData(document.getElementById('SLAForm'));

        fetch('http://localhost:80/sla/api/singlestatus', {
            method: 'POST',
            body: formData
        })
            .then(response => response.json())
            .then(data => {

                if (data.success) {
                    var status = data.status;
                    console.log(status);
                    alert(data.message);
                }
                else {
                    alert(data.message);
                }
            })
            .catch(error => {
                console.error('Errore durante la richiesta', error);
                alert('Si è verificato un errore durante la richiesta');
            });
    }

    function Violations() {
        const formData = new FormData(document.getElementById('SLAForm'));

        fetch('http://localhost:80/sla/api/violations', {
            method: 'GET',
            //body: formData
        })
            .then(response => response.json())
            .then(data => {

                if (data.success) {
                    var violations = data.violations;
                    console.log(violations);
                    alert(data.message);
                }
                else {
                    alert(data.message);
                }
            })
            .catch(error => {
                console.error('Errore durante la richiesta', error);
                alert('Si è verificato un errore durante la richiesta');
            });
    }

    function Probability() {
        const formData = new FormData(document.getElementById('SLAForm'));

        fetch('http://localhost:80/sla/api/probability', {
            method: 'POST',
            body: formData
        })
            .then(response => response.json())
            .then(data => {

                if (data.success) {
                    var probability = data.probability;
                    console.log(probability);
                    alert(data.message);
                }
                else {
                    alert(data.message);

                }
            })
            .catch(error => {
                console.error('Errore durante la richiesta', error);
                alert('Si è verificato un errore durante la richiesta');
            });
    }

</script>
</body>
</html>