<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SLA_Manager</title>
</head>
<body>
<form id="SLAForm">
    <label for="metric_name">Metric name:</label>
    <input type="text" id="metric_name" name="metric_name" required>

    <label for="min_value">Min Value:</label>
    <input type="text" id="min_value" name="min_value" required>

    <label for="max_value">Max Value:</label>
    <input type="text" id="max_value" name="max_value" required>

    <label for="x_seconds">X Seconds:</label>
    <input type="text" id="x_seconds" name="x_seconds" required>

    <button type="button" onclick="AddMetric()">Add metric</button>
    <button type="button" onclick="MetricStatus()">Metrics Status</button>
    <button type="button" onclick="SingleMetricStatus()">Single Metric Status</button>
    <button type="button" onclick="Violations()">Violations</button>
    <button type="button" onclick="Probability()">Probability of violations</button>
    <!-- <button type="button" onclick="FindMetric()">Violation probability</button>-->
</form>

<div id="SLAResult"></div>

<script>
    function AddMetric() {
        const formData = new FormData(document.getElementById('SLAForm'));

        fetch('http://localhost:80/sla/api/add', {
            method: 'POST',
            body: formData
        })
            .then(response => response.json())
            .then(data => {

                if (data.success) {
                    // Esegui azioni di success
                    alert(data.message);
                } else {
                    // Esegui azioni in caso di errore
                    alert(data.message);
                }
            })
            .catch(error => {
                console.error('Errore durante la richiesta', error);
                alert('Si è verificato un errore durante la richiesta');
            });
    }

    function MetricStatus() {
        const formData = new FormData(document.getElementById('SLAForm'));

        fetch('http://localhost:80/sla/api/status', {//se si vuole avviare con docker compose e apache mettere la porta 8081
            method: 'GET',
            //body: formData
        })
            .then(response => response.json())
            .then(data => {

                if (data.success) {
                    // Creazione della stringa HTML con un elenco non ordinato
                    //var listaHTML = "<ul>" +
                    //    "<li>" + "current value: " + data.current_value + "</li>" +
                    //    "<li>" + "desired value: " + data.desired_value + "</li>" +
                    //    "<li>" + "violation: " + data.violation + "</li>" +
                    //    "</ul>";
                    //document.getElementById('SLAResult').innerHTML = listaHTML;
                    //var dict = data.metrics;
                    for (var key in data.metrics) {
                        // Verifica se la chiave è effettivamente una proprietà dell'oggetto e non ereditata
                        if (data.metrics.hasOwnProperty(key)) {
                            // Accede al valore associato a questa chiave
                            var value = data.metrics[key];

                            // Ora puoi utilizzare key e value come desideri
                            console.log("Metrica:", key, "Valore:", value);
                        }
                    }
                    alert(data.message)
                }
                else {
                    console.log("sono qui");
                    alert(data.message);
                }
            })
            .catch(error => {
                console.error('Errore durante la richiesta', error);
                alert('Si è verificato un errore durante la richiesta');
            });
    }

    function SingleMetricStatus() {
        const formData = new FormData(document.getElementById('SLAForm'));

        fetch('http://localhost:80/sla/api/singlestatus/', {
            method: 'POST',
            body: formData
        })
            .then(response => response.json())
            .then(data => {

                if (data.success) {
                    // Creazione della stringa HTML con un elenco non ordinato
                    //var listaHTML = "<ul>" +
                    //    "<li>" + "current value: " + data.current_value + "</li>" +
                    //    "<li>" + "desired value: " + data.desired_value + "</li>" +
                    //    "<li>" + "violation: " + data.violation + "</li>" +
                    //    "</ul>";
                    //document.getElementById('SLAResult').innerHTML = listaHTML;
                    var status = data.status;
                    console.log(status)
                    alert(data.message)
                }
                else {
                    alert(data.message);
                }
            })
            .catch(error => {
                console.error('Errore durante la richiesta', error);
                alert('Si è verificato un errore durante la richiesta');
            });
    }

    function Violations() {
        const formData = new FormData(document.getElementById('SLAForm'));

        fetch('http://localhost:80/sla/api/violations', {
            method: 'GET',
            //body: formData
        })
            .then(response => response.json())
            .then(data => {

                if (data.success) {
                    // Creazione della stringa HTML con un elenco non ordinato
                    //var listaHTML = "<ul>" +
                    //    "<li>" + "desired value: " + data.desired_value + "</li>" +
                    //    "<li>" + "violations count last hour: " + data.violations_count_last_hour + "</li>" +
                    //    "<li>" + "violations count last 3 hours: " + data.violations_count_last_3_hours + "</li>" +
                    //    "<li>" + "violations count last 6 hours: " + data.violations_count_last_6_hours + "</li>" +
                    //    "</ul>";
                    //document.getElementById('SLAResult').innerHTML = listaHTML;
                    var violations = data.violations;
                    console.log(violations)
                    alert(data.message)
                }
                else {
                    alert(data.message);
                    //document.getElementById('SLAResult').innerHTML = 'Metrica non presente nel contratto';
                }
            })
            .catch(error => {
                console.error('Errore durante la richiesta', error);
                alert('Si è verificato un errore durante la richiesta');
            });
    }

    function Probability() {
        const formData = new FormData(document.getElementById('SLAForm'));

        fetch('http://localhost:80/sla/api/probability', {
            method: 'POST',
            body: formData
        })
            .then(response => response.json())
            .then(data => {

                if (data.success) {
                    // Creazione della stringa HTML con un elenco non ordinato
                    //var listaHTML = "<ul>" +
                    //    "<li>" + "desired value: " + data.desired_value + "</li>" +
                    //    "<li>" + "violations count last hour: " + data.violations_count_last_hour + "</li>" +
                    //    "<li>" + "violations count last 3 hours: " + data.violations_count_last_3_hours + "</li>" +
                    //    "<li>" + "violations count last 6 hours: " + data.violations_count_last_6_hours + "</li>" +
                    //    "</ul>";
                    //document.getElementById('SLAResult').innerHTML = listaHTML;
                    var probability = data.probability;
                    alert(data.message)
                }
                else {
                    alert(data.message);
                    //document.getElementById('SLAResult').innerHTML = 'Metrica non presente nel contratto';
                }
            })
            .catch(error => {
                console.error('Errore durante la richiesta', error);
                alert('Si è verificato un errore durante la richiesta');
            });
    }

</script>
</body>
</html>